@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
}
