body {
  background: rgba(238, 37, 97, 0.986);
  font-family: "Montserrat";
}

.hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 40px 40px 40px;
    gap: 25px;
    max-width: 600px;
    min-width: 320px;
    min-height: 450px;
    background-color: white;
    border-radius: 22px;

    &-title {
      font-weight: 500;
      font-size: 40px;
    }

    &-field-wrap {
      input,
      textarea {
        width: 100%;
        padding: 20px 10px;
        background-color: rgb(226, 226, 250);
        border-radius: 22px;
        font-size: 15px;
        box-shadow: inset 20px 60px 0px 20px rgb(226, 226, 250);
      }

      textarea {
        resize: none;
      }
    }

    &-submit {
      font-size: 20px;
      font-weight: 500;
      width: 100%;
      padding: 20px 10px;
      border-radius: 22px;
      background-color: rgba(238, 37, 97, 0.986);
    }
  }

  .invalid-field,
  .invalid-email {
    position: relative;
    input,
    textarea {
      box-shadow: 0 0 15px red;
    }
  }

  .invalid-field {
    &::after {
      content: "Данное поле обязательно к заполнению" !important;
      position: absolute;
      bottom: -22px;
      left: 0;
      width: 100%;
      height: 20px;
      color: red;
    }
  }

  .invalid-email {
    &::after {
      content: "Некорректный email";
      position: absolute;
      bottom: -22px;
      left: 0;
      width: 100%;
      height: 20px;
      color: red;
    }
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba($color: #000000, $alpha: 0.4);

  &.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    position: relative;
  }

  &__close-btn {
    position: absolute;
    top: -20px;
    right: -15px;
  }

  &__content {
    width: 400px;
    height: 400px;
    background-color: white;
  }

  .popup-info__content {
    background-color: red;
  }
}

.freeze {
  overflow: hidden;
}

.padding {
  padding-right: 17px;
}
