/* Colors */
$white: #ffffff;
$black: #040504;
$red: rgba(238, 37, 97, 0.986);
$blue: rgba(89, 130, 245, 0.986);

/* Transitions */
$transition-duration-default: 0.3s;
$transition-delay-default: 0.3s;
$transition-default: 0.3s linear;

$delay-animation-page: 0.3s;

/* Breakpoints */
$breakpoint-xxl: 1920px;
$breakpoint-xl: 1680px;
$breakpoint-lg: 1279px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
